.level1 {
  text-align: center;
}

.circle-container {
  position: relative;
  display: inline-block;
  margin-bottom: 10px; /* Adjust as needed */
}

.circle {
  width: 220px;
  height: 220px;
  background-color: white; /* Set to transparent */
  border: 3px solid #3498db; /* or any color you prefer */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Center the circle */
  overflow: hidden; /* Ensure the image is within the circle */
}

.circle img {
  width: 80%; /* Adjust the size of the image within the circle */
  height: 80%;
  /* border-radius: 50%; */
  display: block; /* Remove any potential extra space */
}

.text-outside {
  margin-top: 10px; /* Adjust as needed */
  font-family: sans-serif;
  font-size: 13px;
  /* text-decoration: none; */
}

.text-outside > a {
  text-decoration: none;
  color: black;
}

.slick-slider {
  margin-bottom: 50px;
}