.navbar {
    margin: 1%;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    width: 100% ;
    justify-content: space-between;
}

.logo {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.homelogo {
    padding-left: 50%;
    width: 200px;
    max-width: 100%;
}

.userContainer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    justify-content: space-evenly;
    width: 20%;
}

#search, #login, #whislist, #cart {
    width: 28px;
    height: 28px;
    color: rgba(255, 255, 255, 0);
}

